body{
  background-color: #222831;
  color: white
}

#results {
  margin: 1rem auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2px;
}

.number {
  color: black;
  background-color: white;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #222831;
  padding: 10px;
  margin-bottom: 4px;
}

.check {
  background-color: rgb(0 255 171);
  color: black
}

#toss {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animation{
  background-color: rgb(0 255 171);
  animation: parpadeo 0.4s infinite alternate;
}

@keyframes parpadeo {
  0% {
    background-color: rgb(0 255 171);
  }
  100% {
    background-color: white;
  }
}

button {
  background-color: #04AA6D; /* Green */
  display: block;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
}