#results {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.number {
  border: 1px solid black;
  padding: 10px;
}

.check {
  background-color: aquamarine;
}

#toss {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}